/* blue */
a {
  color: #d6d42b;
  text-decoration: underline; }

div {
  position: relative; }

body {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #0f63a5 url('../images/bkg-logo.gif') no-repeat;
  background-position: right bottom;
  padding-bottom: 250px;
  height: 100%;
  width: 100%;
}
body.thankyou, body.sub, body.contest-over {
	background-attachment: fixed;
}
p {
  color: #000000;
  font-size: 16px; }

h1, h2, h3 {
  color: #d6d42b;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0px; }
  h2 {font-size: 60px;}

.img-responsive {
  margin: 0 auto; }

.alert li {
  list-style-type: none; }
.alert ul {
  padding-left: 0px; }

form .form-control, form input[type=text] {
  height: 50px; }
form label {
  color: #FFFFFF;
  font-size: 20px; }
form .checkbox label {
  font-size: 15px; }
form .btn-submit {
  height: 74px;
  width: 300px;
  border: none; }

.form-group {
  margin-bottom: 25px; }
.btn-primary {
	background-color: #d6d42b;
	border-radius: 40px;
	color: #0f63a5;
    text-transform: uppercase;
    font-size: 30px;
}
.btn-primary {
	background-color: #d6d42b !important; }
#customer-type label {
  padding-left: 0px; }

::-webkit-input-placeholder {
  color: #000000 !important;
  text-transform: uppercase; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000000 !important;
  text-transform: uppercase; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000 !important;
  text-transform: uppercase; }

:-ms-input-placeholder {
  color: #000000 !important;
  text-transform: uppercase; }

header {
  padding-top: 50px; }


.i_icon {
    position: absolute;
    display: inline-block;
    right: 30px;
    top: 12px;
}

.i_icon img {
    position: absolute;
    right: 0px;
    top: 3px;
}

.i_icon span {
    background-color: #effafc;
    border: 1px solid #929292;
    padding: 10px;
    position: absolute;
    display: none;
    color: #000;
    right: -15px;
    width: 380px;
    top: 33px;
    z-index: 1;
}


@media only screen and (max-width: 600px) {
   .i_icon span {
         width: 300px;
     }
     body {
	     background-size: 100%;
	     padding-bottom: 200px;
     }
}

@media only screen and (max-width: 400px) {
   .i_icon span {
         width: 250px;
     }
}

.proclub_number:hover .i_icon span {
    display: block;
}

.proclub_number:hover .i_icon span::before {
    border-bottom: 10px solid #929292;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: 15px;
    top: -10px;
}

.proclub_number:hover .i_icon span::after {
    border-bottom: 10px solid #effafc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: 15px;
    top: -9px;
}
